/* COLOR NAME */
/* h1{
    color: blue;
} */

/* HEX CODE */
/* h1{
    color: #783278;
} */
/* RGB */
/* h1{
    color: rgb(145, 25, 55);
} */

/* BACKGROUND COLOR */
/* body{
    background-color: wheat;
    color: blueviolet;
} */
/* div{
    background-color: wheat;
    color: blue;
} */

/* OPACITY */
/* #div1{
    background-color: green;
    opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */
